USE [master]
GO
/****** Object:  Database [BaseCoreSales3]    Script Date: 21/06/2026 10:16:00 CH ******/
CREATE DATABASE [BaseCoreSales3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaseCoreSales3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BaseCoreSales3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaseCoreSales3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BaseCoreSales3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaseCoreSales3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaseCoreSales3]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CartId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[GrindingOptionId] [int] NULL,
	[FlavorNotes] [nvarchar](100) NULL,
	[Weight] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrindingOptions]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrindingOptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_GrindingOptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryReceipts]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryReceipts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RawMaterialId] [int] NOT NULL,
	[Supplier] [nvarchar](250) NOT NULL,
	[Quantity] [float] NOT NULL,
	[RemainingQuantity] [float] NOT NULL,
	[ImportDate] [datetime] NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](450) NULL,
 CONSTRAINT [PK_InventoryReceipts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoyaltyPoints]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoyaltyPoints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Points] [int] NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[OrderId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[FlavorNotes] [nvarchar](250) NULL,
	[GrindingOptionId] [int] NULL,
	[Weight] [nvarchar](250) NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[ReceiverName] [nvarchar](100) NULL,
	[ReceiverPhone] [nvarchar](20) NULL,
	[ReceiverEmail] [nvarchar](100) NULL,
	[ShippingProvince] [nvarchar](100) NULL,
	[ShippingDistrict] [nvarchar](100) NULL,
	[ShippingWard] [nvarchar](100) NULL,
	[ShippingDetailAddress] [nvarchar](255) NULL,
	[ShippingNote] [nvarchar](255) NULL,
	[PaymentMethod] [nvarchar](255) NULL,
	[VoucherCode] [nvarchar](50) NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
	[FinalAmount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Region] [nvarchar](255) NULL,
	[Process] [nvarchar](255) NULL,
	[Roast] [nvarchar](100) NULL,
	[FlavorNotes] [nvarchar](max) NULL,
	[AcidityLevel] [tinyint] NULL,
	[BitternessLevel] [tinyint] NULL,
	[BodyLevel] [tinyint] NULL,
	[BestTime] [nvarchar](50) NULL,
	[MatchTags] [nvarchar](500) NULL,
	[Height] [nvarchar](max) NULL,
	[Weight] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductGrindingOptions]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductGrindingOptions](
	[ProductId] [int] NOT NULL,
	[GrindingOptionId] [int] NOT NULL,
 CONSTRAINT [PK_ProductGrindingOptions] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[GrindingOptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RawMaterialLogs]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawMaterialLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RawMaterialId] [int] NOT NULL,
	[ReceiptId] [int] NULL,
	[Action] [nvarchar](100) NOT NULL,
	[OldQuantity] [float] NOT NULL,
	[NewQuantity] [float] NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[ModifiedBy] [nvarchar](450) NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_RawMaterialLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RawMaterials]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawMaterials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_RawMaterials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoastingBatches]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoastingBatches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BatchCode] [nvarchar](50) NOT NULL,
	[ProductId] [int] NOT NULL,
	[RoastLevel] [nvarchar](50) NULL,
	[InputWeight] [float] NULL,
	[Status] [nvarchar](50) NULL,
	[RoastDate] [datetime] NULL,
	[UserId] [nvarchar](450) NULL,
	[InventoryReceiptId] [int] NULL,
	[OutputWeight] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionConfigs]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionConfigs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubscriptionId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[FlavorNote] [nvarchar](100) NOT NULL,
	[GrindType] [int] NULL,
	[Weight] [varchar](20) NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_SubscriptionConfigs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionOrders]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionOrders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubscriptionId] [int] NOT NULL,
	[DeliveryDate] [datetime] NOT NULL,
	[SnapshotDetails] [nvarchar](max) NOT NULL,
	[Status] [varchar](30) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ReceiverName] [nvarchar](150) NULL,
	[ReceiverPhone] [varchar](20) NULL,
	[ShippingAddress] [nvarchar](500) NULL,
	[PaymentMethod] [varchar](30) NOT NULL,
	[FinalPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_SubscriptionOrders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscriptions]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Frequency] [varchar](50) NOT NULL,
	[DeliveryDay] [varchar](20) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[NextDeliveryDate] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CommitmentMonths] [int] NOT NULL,
	[CommitmentEndDate] [datetime] NULL,
 CONSTRAINT [PK__Subscrip__3214EC078079494F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Salt] [nvarchar](max) NOT NULL,
	[Contact] [nvarchar](max) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Position] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[UserType] [int] NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[TotalPoints] [int] NOT NULL,
	[MemberTier] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoucherCategories]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherCategories](
	[VoucherId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoucherProducts]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherProducts](
	[VoucherId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 21/06/2026 10:16:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DiscountType] [nvarchar](20) NOT NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[MaxDiscount] [decimal](18, 2) NULL,
	[MinOrderValue] [decimal](18, 2) NULL,
	[UsageLimit] [int] NULL,
	[UsedCount] [int] NULL,
	[PaymentMethod] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([Id], [CartId], [ProductId], [Quantity], [GrindingOptionId], [FlavorNotes], [Weight]) VALUES (3, 3, 3, 2, 2, N'Cacao đắng', N'250g')
INSERT [dbo].[CartItems] ([Id], [CartId], [ProductId], [Quantity], [GrindingOptionId], [FlavorNotes], [Weight]) VALUES (13, 3, 4, 2, 1, N'Mật mía', N'250g')
INSERT [dbo].[CartItems] ([Id], [CartId], [ProductId], [Quantity], [GrindingOptionId], [FlavorNotes], [Weight]) VALUES (22, 5, 4, 1, 1, N'Socola đen', N'250g')
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([Id], [UserId]) VALUES (3, N'4f48b5b9-204e-49d7-8313-2e4a6acce605')
INSERT [dbo].[Carts] ([Id], [UserId]) VALUES (4, N'a5109ae1-7f63-4efe-82d6-dd5bee4a3e46')
INSERT [dbo].[Carts] ([Id], [UserId]) VALUES (5, N'80459c92-67dd-4961-bea0-4049674052c9')
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (1, N'Arabica', N'Cà phê có hương thơm thanh nhẹ, vị chua dịu, hậu ngọt')
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (2, N'Blend', N'Sự phối trộn hài hòa giữa Arabica và Robusta')
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (3, N'Robusta', N'Cà phê đậm vị, mạnh mẽ, hàm lượng caffeine cao')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[GrindingOptions] ON 

INSERT [dbo].[GrindingOptions] ([Id], [Name]) VALUES (1, N'Nguyên hạt')
INSERT [dbo].[GrindingOptions] ([Id], [Name]) VALUES (2, N'Pha phin')
INSERT [dbo].[GrindingOptions] ([Id], [Name]) VALUES (3, N'Espresso')
SET IDENTITY_INSERT [dbo].[GrindingOptions] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryReceipts] ON 

INSERT [dbo].[InventoryReceipts] ([Id], [RawMaterialId], [Supplier], [Quantity], [RemainingQuantity], [ImportDate], [ExpiryDate], [CreatedBy]) VALUES (1, 1, N'Công ty Nông sản Tây Nguyên', 100, 70.5, CAST(N'2026-05-20T23:34:03.110' AS DateTime), CAST(N'2027-05-20T23:34:03.110' AS DateTime), N'caa1658e-7055-4d7d-8c94-810aac98b4f4')
INSERT [dbo].[InventoryReceipts] ([Id], [RawMaterialId], [Supplier], [Quantity], [RemainingQuantity], [ImportDate], [ExpiryDate], [CreatedBy]) VALUES (2, 2, N'Hợp tác xã Buôn Ma Thuột', 50, 15, CAST(N'2025-12-20T23:34:03.110' AS DateTime), CAST(N'2026-05-24T23:34:03.110' AS DateTime), N'4f48b5b9-204e-49d7-8313-2e4a6acce605')
INSERT [dbo].[InventoryReceipts] ([Id], [RawMaterialId], [Supplier], [Quantity], [RemainingQuantity], [ImportDate], [ExpiryDate], [CreatedBy]) VALUES (3, 1, N'Hộ trồng cà phê Đà Lạt', 30, 0, CAST(N'2025-11-20T23:34:03.110' AS DateTime), CAST(N'2026-11-20T23:34:03.110' AS DateTime), N'4f48b5b9-204e-49d7-8313-2e4a6acce605')
SET IDENTITY_INSERT [dbo].[InventoryReceipts] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [FlavorNotes], [GrindingOptionId], [Weight]) VALUES (1, 1, 1, 2, CAST(99000.00 AS Decimal(18, 2)), N'Hoa nhài, Cam vàng, Mật ong', 1, N'250')
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [FlavorNotes], [GrindingOptionId], [Weight]) VALUES (4, 3, 2, 1, CAST(139000.00 AS Decimal(18, 2)), N'Chocolate', 2, N'250g')
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [FlavorNotes], [GrindingOptionId], [Weight]) VALUES (5, 4, 4, 1, CAST(129000.00 AS Decimal(18, 2)), N'Socola đen', 1, N'250g')
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductDetails] ON 

INSERT [dbo].[ProductDetails] ([Id], [ProductId], [Region], [Process], [Roast], [FlavorNotes], [AcidityLevel], [BitternessLevel], [BodyLevel], [BestTime], [MatchTags], [Height], [Weight]) VALUES (1, 1, N'Cầu Đất, Đà Lạt', N'Washed', N'Light ', N'Hoa nhài, Cam vàng, Mật ong', 4, 2, 3, N'morning', N'floral,citrus,honey', N'<1000m', N'250g, 500g, 750g')
INSERT [dbo].[ProductDetails] ([Id], [ProductId], [Region], [Process], [Roast], [FlavorNotes], [AcidityLevel], [BitternessLevel], [BodyLevel], [BestTime], [MatchTags], [Height], [Weight]) VALUES (2, 2, N'Đắk Lắk & Đà Lạt', N'Honey', N'Dark', N'Chocolate, Hạnh nhân, Caramel', 3, 3, 4, N'afternoon', N'chocolate,caramel,nut', N'1000m-2000m', N'250g, 500g, 750g')
INSERT [dbo].[ProductDetails] ([Id], [ProductId], [Region], [Process], [Roast], [FlavorNotes], [AcidityLevel], [BitternessLevel], [BodyLevel], [BestTime], [MatchTags], [Height], [Weight]) VALUES (3, 3, N'Buôn Ma Thuột', N'Natural', N'Dark ', N'Cacao đắng, Gỗ sồi, Hạt dẻ', 2, 5, 5, NULL, NULL, N'>2000m', N'250g, 500g, 750g')
SET IDENTITY_INSERT [dbo].[ProductDetails] OFF
GO
INSERT [dbo].[ProductGrindingOptions] ([ProductId], [GrindingOptionId]) VALUES (1, 1)
INSERT [dbo].[ProductGrindingOptions] ([ProductId], [GrindingOptionId]) VALUES (1, 2)
INSERT [dbo].[ProductGrindingOptions] ([ProductId], [GrindingOptionId]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [ImageUrl], [Description], [CategoryId]) VALUES (1, N'REVO Morning', CAST(99000.00 AS Decimal(18, 2)), 9351, N'/uploads/products/image1.png', N'Hương vị nhẹ nhàng, tinh tế cho buổi sáng đầy năng lượng', 1)
INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [ImageUrl], [Description], [CategoryId]) VALUES (2, N'REVO Everyday', CAST(139000.00 AS Decimal(18, 2)), 10350, N'/uploads/products/image2.png', N'Hương vị cân bằng dịu nhẹ, hậu vị ngọt kéo dài', 2)
INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [ImageUrl], [Description], [CategoryId]) VALUES (3, N'REVO Origin', CAST(149000.00 AS Decimal(18, 2)), 4000, N'/uploads/products/image3.png', N'Robusta nguyên bản mạnh mẽ, đậm vị truyền thống', 3)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[RawMaterialLogs] ON 

INSERT [dbo].[RawMaterialLogs] ([Id], [RawMaterialId], [ReceiptId], [Action], [OldQuantity], [NewQuantity], [Reason], [ModifiedBy], [ModifiedDate]) VALUES (1, 1, 1, N'XUAT_RANG_CA_PHE', 75.5, 70.5, N'Xuất kho 5 kg để thực hiện mẻ rang mã BATCH-007', N'4f48b5b9-204e-49d7-8313-2e4a6acce605', CAST(N'2026-05-21T00:20:42.980' AS DateTime))
INSERT [dbo].[RawMaterialLogs] ([Id], [RawMaterialId], [ReceiptId], [Action], [OldQuantity], [NewQuantity], [Reason], [ModifiedBy], [ModifiedDate]) VALUES (2, 4, NULL, N'NHAP_KHO_NGUYEN_LIEU', 0, 100, N'Nhập mới lô hàng 100 kg từ nhà cung cấp: Hợp tác xã Hải Hậu', N'4f48b5b9-204e-49d7-8313-2e4a6acce605', CAST(N'2026-05-21T00:36:53.737' AS DateTime))
INSERT [dbo].[RawMaterialLogs] ([Id], [RawMaterialId], [ReceiptId], [Action], [OldQuantity], [NewQuantity], [Reason], [ModifiedBy], [ModifiedDate]) VALUES (3, 4, 7, N'XUAT_RANG_CA_PHE', 100, 95, N'Xuất kho 5 kg để thực hiện mẻ rang mã HKT-01 (Trạng thái: Đang xử lý)', N'4f48b5b9-204e-49d7-8313-2e4a6acce605', CAST(N'2026-05-21T15:36:21.487' AS DateTime))
SET IDENTITY_INSERT [dbo].[RawMaterialLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[RawMaterials] ON 

INSERT [dbo].[RawMaterials] ([Id], [Name], [Unit], [CategoryId], [CreatedDate]) VALUES (1, N'Hạt Cà phê Arabica Cầu Đất', N'kg', 1, CAST(N'2026-05-20T23:30:29.577' AS DateTime))
INSERT [dbo].[RawMaterials] ([Id], [Name], [Unit], [CategoryId], [CreatedDate]) VALUES (2, N'Hạt Cà phê Robusta Buôn Ma Thuột', N'kg', 3, CAST(N'2026-05-20T23:30:29.577' AS DateTime))
INSERT [dbo].[RawMaterials] ([Id], [Name], [Unit], [CategoryId], [CreatedDate]) VALUES (3, N'Hạt Cà phê Blend Thượng Hạng', N'kg', 2, CAST(N'2026-05-20T23:30:29.577' AS DateTime))
SET IDENTITY_INSERT [dbo].[RawMaterials] OFF
GO
SET IDENTITY_INSERT [dbo].[RoastingBatches] ON 

INSERT [dbo].[RoastingBatches] ([Id], [BatchCode], [ProductId], [RoastLevel], [InputWeight], [Status], [RoastDate], [UserId], [InventoryReceiptId], [OutputWeight]) VALUES (1, N'BATCH-001', 8, N'Light', 12, N'Đã đóng gói', CAST(N'2026-05-16T15:30:04.963' AS DateTime), N'4f48b5b9-204e-49d7-8313-2e4a6acce605', 1, 10)
INSERT [dbo].[RoastingBatches] ([Id], [BatchCode], [ProductId], [RoastLevel], [InputWeight], [Status], [RoastDate], [UserId], [InventoryReceiptId], [OutputWeight]) VALUES (2, N'BATCH-002', 4, N'Dark', 3, N'Đã đóng gói', CAST(N'2026-05-16T15:32:21.437' AS DateTime), N'4f48b5b9-204e-49d7-8313-2e4a6acce605', 2, 2)
INSERT [dbo].[RoastingBatches] ([Id], [BatchCode], [ProductId], [RoastLevel], [InputWeight], [Status], [RoastDate], [UserId], [InventoryReceiptId], [OutputWeight]) VALUES (3, N'BATCH-003', 6, N'Medium', 20, N'Hoàn thành', CAST(N'2026-05-16T15:32:47.310' AS DateTime), N'4f48b5b9-204e-49d7-8313-2e4a6acce605', 3, 17)
SET IDENTITY_INSERT [dbo].[RoastingBatches] OFF
GO
SET IDENTITY_INSERT [dbo].[SubscriptionConfigs] ON 

INSERT [dbo].[SubscriptionConfigs] ([Id], [SubscriptionId], [ProductId], [FlavorNote], [GrindType], [Weight], [Quantity]) VALUES (14, 1020, 2, N'Chocolate', 1, N'250g', 1)
INSERT [dbo].[SubscriptionConfigs] ([Id], [SubscriptionId], [ProductId], [FlavorNote], [GrindType], [Weight], [Quantity]) VALUES (15, 1021, 2, N'Caramel', 1, N'250g', 2)
INSERT [dbo].[SubscriptionConfigs] ([Id], [SubscriptionId], [ProductId], [FlavorNote], [GrindType], [Weight], [Quantity]) VALUES (16, 1022, 5, N'Gỗ nhẹ', 1, N'250g', 1)
SET IDENTITY_INSERT [dbo].[SubscriptionConfigs] OFF
GO
SET IDENTITY_INSERT [dbo].[SubscriptionOrders] ON 

INSERT [dbo].[SubscriptionOrders] ([Id], [SubscriptionId], [DeliveryDate], [SnapshotDetails], [Status], [CreatedAt], [ReceiverName], [ReceiverPhone], [ShippingAddress], [PaymentMethod], [FinalPrice]) VALUES (13, 1020, CAST(N'2026-05-26T08:37:17.633' AS DateTime), N'{"ProductId": 2, "FlavorNotes": "Chocolate", "GrindType": "1", "Weight": "250g", "Quantity": 1, "FinalPrice": 125100}', N'PENDING_PAYMENT', CAST(N'2026-05-25T08:37:17.623' AS DateTime), N'Vũ Nam Khánh', N'0922222222', N'làng Thượng Phường, xã Yên Thành, huyện Yên Mô, tỉnh Ninh Bình', N'CARD', CAST(125100.00 AS Decimal(18, 2)))
INSERT [dbo].[SubscriptionOrders] ([Id], [SubscriptionId], [DeliveryDate], [SnapshotDetails], [Status], [CreatedAt], [ReceiverName], [ReceiverPhone], [ShippingAddress], [PaymentMethod], [FinalPrice]) VALUES (14, 1021, CAST(N'2026-05-28T08:39:42.787' AS DateTime), N'{"ProductId": 2, "FlavorNotes": "Caramel", "GrindType": "1", "Weight": "250g", "Quantity": 2, "FinalPrice": 236300}', N'PENDING_PAYMENT', CAST(N'2026-05-25T08:39:42.753' AS DateTime), N'Nguyễn Văn User', N'0911111111', N'làng Thượng Phường, xã Yên Thành, huyện Yên Mô, tỉnh Ninh Bình', N'CARD', CAST(236300.00 AS Decimal(18, 2)))
INSERT [dbo].[SubscriptionOrders] ([Id], [SubscriptionId], [DeliveryDate], [SnapshotDetails], [Status], [CreatedAt], [ReceiverName], [ReceiverPhone], [ShippingAddress], [PaymentMethod], [FinalPrice]) VALUES (15, 1022, CAST(N'2026-05-28T08:49:16.623' AS DateTime), N'{"ProductId": 5, "FlavorNotes": "Gỗ nhẹ", "GrindType": "1", "Weight": "250g", "Quantity": 1, "FinalPrice": 98100}', N'PENDING_PAYMENT', CAST(N'2026-05-25T08:49:16.603' AS DateTime), N'Nguyễn Văn User', N'0911111111', N'làng Thượng Phường, xã Yên Thành, huyện Yên Mô, tỉnh Ninh Bình', N'VNPAY', CAST(98100.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[SubscriptionOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Subscriptions] ON 

INSERT [dbo].[Subscriptions] ([Id], [UserId], [Frequency], [DeliveryDay], [Status], [NextDeliveryDate], [CreatedAt], [CommitmentMonths], [CommitmentEndDate]) VALUES (1, N'4f48b5b9-204e-49d7-8313-2e4a6acce605', N'1month', N'Thursday', N'ACTIVE', CAST(N'2026-06-04T08:27:14.470' AS DateTime), CAST(N'2026-05-25T08:27:14.460' AS DateTime), 3, CAST(N'2026-08-25T08:27:14.460' AS DateTime))
INSERT [dbo].[Subscriptions] ([Id], [UserId], [Frequency], [DeliveryDay], [Status], [NextDeliveryDate], [CreatedAt], [CommitmentMonths], [CommitmentEndDate]) VALUES (1019, N'4f48b5b9-204e-49d7-8313-2e4a6acce605', N'1month', N'Thursday', N'ACTIVE', CAST(N'2026-06-04T08:27:14.470' AS DateTime), CAST(N'2026-05-25T08:27:14.460' AS DateTime), 3, CAST(N'2026-08-25T08:27:14.460' AS DateTime))
INSERT [dbo].[Subscriptions] ([Id], [UserId], [Frequency], [DeliveryDay], [Status], [NextDeliveryDate], [CreatedAt], [CommitmentMonths], [CommitmentEndDate]) VALUES (1020, N'4f48b5b9-204e-49d7-8313-2e4a6acce605', N'2weeks', N'Tuesday', N'ACTIVE', CAST(N'2026-06-09T08:37:17.633' AS DateTime), CAST(N'2026-05-25T08:37:17.623' AS DateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[Subscriptions] OFF
GO
INSERT [dbo].[Users] ([Id], [Name], [UserName], [Password], [Salt], [Contact], [Email], [Phone], [Position], [Image], [IsActive], [UserType], [Created], [TotalPoints], [MemberTier]) VALUES (N'2a596aa8-d490-4d2d-a780-1f86ed664cf5', N'Trương Văn An', N'an', N'$2a$11$6B7MyD70fhZaDK46n8G/e./kITWMAt19Lu9ICBRWAVUol6xl4sgHa', N'36d0c33e', N'Số 28 Hoàng Văn Thụ Ninh Bình', N'an@gmail.com', N'0945862369', N'Quản lí kho', N'/uploads/profiles/972e03f2-ddda-4011-9e15-18285bdd26b7.jpg', 1, 3, CAST(N'2026-05-21T16:52:13.5861499' AS DateTime2), 0, N'Bronze')
INSERT [dbo].[Users] ([Id], [Name], [UserName], [Password], [Salt], [Contact], [Email], [Phone], [Position], [Image], [IsActive], [UserType], [Created], [TotalPoints], [MemberTier]) VALUES (N'40695048-1f0f-45e1-b622-9433e41f7cd3', N'Lê Thế Bình', N'binh', N'$2a$11$B.DJ1QP103C1n4kyF9XEfOoaXRDBxFQun09pZqM2JSx37GoVtCcOi', N'd5ed1805', N'Số 39 Đống Đa Hà Nội', N'binh@gmail.com', N'0258965324', N'Khách hàng', N'/uploads/profiles/5780e403-545f-45a8-9827-c7f379a457e3.jpg', 1, 0, CAST(N'2026-05-18T09:25:52.2931001' AS DateTime2), 0, N'Bronze')
INSERT [dbo].[Users] ([Id], [Name], [UserName], [Password], [Salt], [Contact], [Email], [Phone], [Position], [Image], [IsActive], [UserType], [Created], [TotalPoints], [MemberTier]) VALUES (N'431df51b-82f0-4cae-bc23-0ec213daae39', N'Phạm Tiến Dũng', N'dungpham', N'$2a$11$BNqAAszJaidMat.smEw59usUa9LiLUoWzNOlAvAPqJ3Ok7a.z6GgK', N'd030317b', N'Số 2 Hoàng Nam Hà Nội', N'dungpham@gmail.com', N'0258964456', N'Nhân viên', N'/uploads/profiles/3612b8e4-dd5a-4cca-86c0-d97a17856c11.jpg', 1, 2, CAST(N'2026-05-20T13:32:17.2164897' AS DateTime2), 0, N'Bronze')
GO
SET IDENTITY_INSERT [dbo].[Vouchers] ON 

INSERT [dbo].[Vouchers] ([Id], [Code], [Title], [Description], [DiscountType], [DiscountValue], [MaxDiscount], [MinOrderValue], [UsageLimit], [UsedCount], [PaymentMethod], [IsActive], [StartDate], [EndDate], [CreatedAt]) VALUES (1, N'DELHOT', N'Voucher của năm', NULL, N'fixed', CAST(200000.00 AS Decimal(18, 2)), CAST(150000.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), 100, 0, N'ALL', 1, CAST(N'2026-05-23T08:36:15.087' AS DateTime), CAST(N'2026-06-22T08:36:15.087' AS DateTime), CAST(N'2026-05-23T08:36:15.087' AS DateTime))
INSERT [dbo].[Vouchers] ([Id], [Code], [Title], [Description], [DiscountType], [DiscountValue], [MaxDiscount], [MinOrderValue], [UsageLimit], [UsedCount], [PaymentMethod], [IsActive], [StartDate], [EndDate], [CreatedAt]) VALUES (2, N'FREESHIPT1', N'miễn phí cho đơn 100k trở lên ', NULL, N'shipping', CAST(20000.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)), 50, 2, N'ALL', 1, CAST(N'2026-05-23T09:36:04.813' AS DateTime), CAST(N'2026-06-22T09:36:04.813' AS DateTime), CAST(N'2026-05-23T09:36:04.813' AS DateTime))
INSERT [dbo].[Vouchers] ([Id], [Code], [Title], [Description], [DiscountType], [DiscountValue], [MaxDiscount], [MinOrderValue], [UsageLimit], [UsedCount], [PaymentMethod], [IsActive], [StartDate], [EndDate], [CreatedAt]) VALUES (3, N'HHKDH', N'Voucher có hạn đừng bỏ lỡ', NULL, N'shipping', CAST(30000.00 AS Decimal(18, 2)), CAST(30000.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)), 100, 0, N'ALL', 1, CAST(N'2026-05-23T14:38:22.413' AS DateTime), CAST(N'2026-06-22T14:38:22.413' AS DateTime), CAST(N'2026-05-23T14:38:22.413' AS DateTime))
SET IDENTITY_INSERT [dbo].[Vouchers] OFF
GO
/****** Object:  Index [IX_OrderDetails_OrderId]    Script Date: 21/06/2026 10:16:01 CH ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderId] ON [dbo].[OrderDetails]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_ProductId]    Script Date: 21/06/2026 10:16:01 CH ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_ProductId] ON [dbo].[OrderDetails]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 21/06/2026 10:16:01 CH ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_UserName]    Script Date: 21/06/2026 10:16:01 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_UserName] ON [dbo].[Users]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[LoyaltyPoints] ADD  DEFAULT ('earn') FOR [Type]
GO
ALTER TABLE [dbo].[LoyaltyPoints] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[LoyaltyPoints] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__Discount__625A9A57]  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[RawMaterialLogs] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[RawMaterials] ADD  DEFAULT ('kg') FOR [Unit]
GO
ALTER TABLE [dbo].[RawMaterials] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[RoastingBatches] ADD  DEFAULT (getdate()) FOR [RoastDate]
GO
ALTER TABLE [dbo].[SubscriptionConfigs] ADD  CONSTRAINT [DF__Subscript__Quant__6166761E]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[SubscriptionOrders] ADD  DEFAULT ('PREPARING') FOR [Status]
GO
ALTER TABLE [dbo].[SubscriptionOrders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SubscriptionOrders] ADD  DEFAULT ('COD') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[SubscriptionOrders] ADD  DEFAULT ((0)) FOR [FinalPrice]
GO
ALTER TABLE [dbo].[Subscriptions] ADD  CONSTRAINT [DF__Subscript__Frequ__73852659]  DEFAULT ('monthly') FOR [Frequency]
GO
ALTER TABLE [dbo].[Subscriptions] ADD  CONSTRAINT [DF__Subscript__Statu__74794A92]  DEFAULT ('active') FOR [Status]
GO
ALTER TABLE [dbo].[Subscriptions] ADD  CONSTRAINT [DF__Subscript__Creat__5D95E53A]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Subscriptions] ADD  CONSTRAINT [DF__Subscript__Commi__73852659]  DEFAULT ((0)) FOR [CommitmentMonths]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [TotalPoints]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Bronze') FOR [MemberTier]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((0)) FOR [MinOrderValue]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((0)) FOR [UsageLimit]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((0)) FOR [UsedCount]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ('ALL') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Carts] FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Carts]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_GrindingOptions] FOREIGN KEY([GrindingOptionId])
REFERENCES [dbo].[GrindingOptions] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_GrindingOptions]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Products]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Users]
GO
ALTER TABLE [dbo].[InventoryReceipts]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceipts_RawMaterials] FOREIGN KEY([RawMaterialId])
REFERENCES [dbo].[RawMaterials] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryReceipts] CHECK CONSTRAINT [FK_InventoryReceipts_RawMaterials]
GO
ALTER TABLE [dbo].[InventoryReceipts]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceipts_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[InventoryReceipts] CHECK CONSTRAINT [FK_InventoryReceipts_Users]
GO
ALTER TABLE [dbo].[LoyaltyPoints]  WITH CHECK ADD  CONSTRAINT [FK_LoyaltyPoints_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LoyaltyPoints] CHECK CONSTRAINT [FK_LoyaltyPoints_Users]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products_ProductId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [FK_ProductDetails_Products]
GO
ALTER TABLE [dbo].[ProductGrindingOptions]  WITH CHECK ADD  CONSTRAINT [FK_ProductGrindingOptions_GrindingOptions] FOREIGN KEY([GrindingOptionId])
REFERENCES [dbo].[GrindingOptions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductGrindingOptions] CHECK CONSTRAINT [FK_ProductGrindingOptions_GrindingOptions]
GO
ALTER TABLE [dbo].[ProductGrindingOptions]  WITH CHECK ADD  CONSTRAINT [FK_ProductGrindingOptions_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductGrindingOptions] CHECK CONSTRAINT [FK_ProductGrindingOptions_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[RawMaterialLogs]  WITH CHECK ADD  CONSTRAINT [FK_RawMaterialLogs_RawMaterials] FOREIGN KEY([RawMaterialId])
REFERENCES [dbo].[RawMaterials] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RawMaterialLogs] CHECK CONSTRAINT [FK_RawMaterialLogs_RawMaterials]
GO
ALTER TABLE [dbo].[RawMaterialLogs]  WITH CHECK ADD  CONSTRAINT [FK_RawMaterialLogs_Receipts] FOREIGN KEY([ReceiptId])
REFERENCES [dbo].[InventoryReceipts] ([Id])
GO
ALTER TABLE [dbo].[RawMaterialLogs] CHECK CONSTRAINT [FK_RawMaterialLogs_Receipts]
GO
ALTER TABLE [dbo].[RawMaterialLogs]  WITH CHECK ADD  CONSTRAINT [FK_RawMaterialLogs_Users] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[RawMaterialLogs] CHECK CONSTRAINT [FK_RawMaterialLogs_Users]
GO
ALTER TABLE [dbo].[RawMaterials]  WITH CHECK ADD  CONSTRAINT [FK_RawMaterials_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RawMaterials] CHECK CONSTRAINT [FK_RawMaterials_Categories]
GO
ALTER TABLE [dbo].[RoastingBatches]  WITH CHECK ADD  CONSTRAINT [FK_RoastingBatches_InventoryReceipts] FOREIGN KEY([InventoryReceiptId])
REFERENCES [dbo].[InventoryReceipts] ([Id])
GO
ALTER TABLE [dbo].[RoastingBatches] CHECK CONSTRAINT [FK_RoastingBatches_InventoryReceipts]
GO
ALTER TABLE [dbo].[RoastingBatches]  WITH CHECK ADD  CONSTRAINT [FK_RoastingBatches_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[RoastingBatches] CHECK CONSTRAINT [FK_RoastingBatches_Products]
GO
ALTER TABLE [dbo].[RoastingBatches]  WITH CHECK ADD  CONSTRAINT [FK_RoastingBatches_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RoastingBatches] CHECK CONSTRAINT [FK_RoastingBatches_Users]
GO
ALTER TABLE [dbo].[SubscriptionConfigs]  WITH CHECK ADD  CONSTRAINT [FK_SubConfigs_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[SubscriptionConfigs] CHECK CONSTRAINT [FK_SubConfigs_Products]
GO
ALTER TABLE [dbo].[SubscriptionConfigs]  WITH CHECK ADD  CONSTRAINT [FK_SubConfigs_Subscriptions] FOREIGN KEY([SubscriptionId])
REFERENCES [dbo].[Subscriptions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubscriptionConfigs] CHECK CONSTRAINT [FK_SubConfigs_Subscriptions]
GO
ALTER TABLE [dbo].[SubscriptionOrders]  WITH CHECK ADD  CONSTRAINT [FK_SubOrders_Subscriptions] FOREIGN KEY([SubscriptionId])
REFERENCES [dbo].[Subscriptions] ([Id])
GO
ALTER TABLE [dbo].[SubscriptionOrders] CHECK CONSTRAINT [FK_SubOrders_Subscriptions]
GO
ALTER TABLE [dbo].[Subscriptions]  WITH CHECK ADD  CONSTRAINT [FK_Subscriptions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subscriptions] CHECK CONSTRAINT [FK_Subscriptions_Users]
GO
ALTER TABLE [dbo].[VoucherCategories]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[VoucherCategories]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[VoucherCategories]  WITH CHECK ADD FOREIGN KEY([VoucherId])
REFERENCES [dbo].[Vouchers] ([Id])
GO
ALTER TABLE [dbo].[VoucherCategories]  WITH CHECK ADD FOREIGN KEY([VoucherId])
REFERENCES [dbo].[Vouchers] ([Id])
GO
ALTER TABLE [dbo].[VoucherProducts]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[VoucherProducts]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[VoucherProducts]  WITH CHECK ADD FOREIGN KEY([VoucherId])
REFERENCES [dbo].[Vouchers] ([Id])
GO
ALTER TABLE [dbo].[VoucherProducts]  WITH CHECK ADD FOREIGN KEY([VoucherId])
REFERENCES [dbo].[Vouchers] ([Id])
GO
USE [master]
GO
