USE [master]
GO
/****** Object:  Database [BaseCoreSales3]    Script Date: 21/05/2026 8:10:31 SA ******/
CREATE DATABASE [BaseCoreSales3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaseCoreSales3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BaseCoreSales3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaseCoreSales3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BaseCoreSales3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaseCoreSales3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaseCoreSales3]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 21/05/2026 8:10:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 21/05/2026 8:10:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CartId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[GrindingOptionId] [int] NULL,
	[FlavorNotes] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 21/05/2026 8:10:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 21/05/2026 8:10:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrindingOptions]    Script Date: 21/05/2026 8:10:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrindingOptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_GrindingOptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryReceipts]    Script Date: 21/05/2026 8:10:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryReceipts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RawMaterialId] [int] NOT NULL,
	[Supplier] [nvarchar](250) NOT NULL,
	[Quantity] [float] NOT NULL,
	[RemainingQuantity] [float] NOT NULL,
	[ImportDate] [datetime] NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](450) NULL,
 CONSTRAINT [PK_InventoryReceipts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 21/05/2026 8:10:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[FlavorNotes] [nvarchar](250) NULL,
	[GrindingOptionId] [int] NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 21/05/2026 8:10:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[ReceiverName] [nvarchar](100) NULL,
	[ReceiverPhone] [nvarchar](20) NULL,
	[ReceiverEmail] [nvarchar](100) NULL,
	[ShippingProvince] [nvarchar](100) NULL,
	[ShippingDistrict] [nvarchar](100) NULL,
	[ShippingWard] [nvarchar](100) NULL,
	[ShippingDetailAddress] [nvarchar](255) NULL,
	[ShippingNote] [nvarchar](255) NULL,
	[PaymentMethod] [nvarchar](255) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 21/05/2026 8:10:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Region] [nvarchar](255) NULL,
	[Process] [nvarchar](255) NULL,
	[Roast] [nvarchar](100) NULL,
	[FlavorNotes] [nvarchar](max) NULL,
	[AcidityLevel] [tinyint] NULL,
	[BitternessLevel] [tinyint] NULL,
	[BodyLevel] [tinyint] NULL,
	[BestTime] [nvarchar](50) NULL,
	[MatchTags] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductGrindingOptions]    Script Date: 21/05/2026 8:10:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductGrindingOptions](
	[ProductId] [int] NOT NULL,
	[GrindingOptionId] [int] NOT NULL,
 CONSTRAINT [PK_ProductGrindingOptions] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[GrindingOptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 21/05/2026 8:10:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RawMaterialLogs]    Script Date: 21/05/2026 8:10:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawMaterialLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RawMaterialId] [int] NOT NULL,
	[ReceiptId] [int] NULL,
	[Action] [nvarchar](100) NOT NULL,
	[OldQuantity] [float] NOT NULL,
	[NewQuantity] [float] NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[ModifiedBy] [nvarchar](450) NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_RawMaterialLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RawMaterials]    Script Date: 21/05/2026 8:10:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawMaterials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_RawMaterials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoastingBatches]    Script Date: 21/05/2026 8:10:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoastingBatches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BatchCode] [nvarchar](50) NOT NULL,
	[ProductId] [int] NOT NULL,
	[RoastLevel] [nvarchar](50) NULL,
	[InputWeight] [float] NULL,
	[Status] [nvarchar](50) NULL,
	[RoastDate] [datetime] NULL,
	[UserId] [nvarchar](450) NULL,
	[InventoryReceiptId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21/05/2026 8:10:31 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Salt] [nvarchar](max) NOT NULL,
	[Contact] [nvarchar](max) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Position] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[UserType] [int] NOT NULL,
	[Created] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (1, N'Arabica', N'Cà phê có hương thơm thanh nhẹ, vị chua dịu, hậu ngọt')
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (2, N'Blend', N'Sự phối trộn hài hòa giữa Arabica và Robusta')
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (3, N'Robusta', N'Cà phê đậm vị, mạnh mẽ, hàm lượng caffeine cao')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[GrindingOptions] ON 

INSERT [dbo].[GrindingOptions] ([Id], [Name]) VALUES (1, N'Nguyên hạt')
INSERT [dbo].[GrindingOptions] ([Id], [Name]) VALUES (2, N'Pha phin')
INSERT [dbo].[GrindingOptions] ([Id], [Name]) VALUES (3, N'Espresso')
SET IDENTITY_INSERT [dbo].[GrindingOptions] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryReceipts] ON 

INSERT [dbo].[InventoryReceipts] ([Id], [RawMaterialId], [Supplier], [Quantity], [RemainingQuantity], [ImportDate], [ExpiryDate], [CreatedBy]) VALUES (1, 1, N'Công ty Nông sản Tây Nguyên', 100, 70.5, CAST(N'2026-05-20T23:34:03.110' AS DateTime), CAST(N'2027-05-20T23:34:03.110' AS DateTime), N'caa1658e-7055-4d7d-8c94-810aac98b4f4')
INSERT [dbo].[InventoryReceipts] ([Id], [RawMaterialId], [Supplier], [Quantity], [RemainingQuantity], [ImportDate], [ExpiryDate], [CreatedBy]) VALUES (2, 2, N'Hợp tác xã Buôn Ma Thuột', 50, 20, CAST(N'2025-12-20T23:34:03.110' AS DateTime), CAST(N'2026-05-24T23:34:03.110' AS DateTime), N'4f48b5b9-204e-49d7-8313-2e4a6acce605')
INSERT [dbo].[InventoryReceipts] ([Id], [RawMaterialId], [Supplier], [Quantity], [RemainingQuantity], [ImportDate], [ExpiryDate], [CreatedBy]) VALUES (3, 1, N'Hộ trồng cà phê Đà Lạt', 30, 0, CAST(N'2025-11-20T23:34:03.110' AS DateTime), CAST(N'2026-11-20T23:34:03.110' AS DateTime), N'4f48b5b9-204e-49d7-8313-2e4a6acce605')
SET IDENTITY_INSERT [dbo].[InventoryReceipts] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductDetails] ON 

INSERT [dbo].[ProductDetails] ([Id], [ProductId], [Region], [Process], [Roast], [FlavorNotes], [AcidityLevel], [BitternessLevel], [BodyLevel], [BestTime], [MatchTags]) VALUES (1, 1, N'Cầu Đất, Đà Lạt', N'Washed', N'Light ', N'Hoa nhài, Cam vàng, Mật ong', 4, 2, 3, N'morning', N'floral,citrus,honey')
INSERT [dbo].[ProductDetails] ([Id], [ProductId], [Region], [Process], [Roast], [FlavorNotes], [AcidityLevel], [BitternessLevel], [BodyLevel], [BestTime], [MatchTags]) VALUES (2, 2, N'Đắk Lắk & Đà Lạt', N'Honey', N'Dark', N'Chocolate, Hạnh nhân, Caramel', 3, 3, 4, N'afternoon', N'chocolate,caramel,nut')
INSERT [dbo].[ProductDetails] ([Id], [ProductId], [Region], [Process], [Roast], [FlavorNotes], [AcidityLevel], [BitternessLevel], [BodyLevel], [BestTime], [MatchTags]) VALUES (3, 3, N'Buôn Ma Thuột', N'Natural', N'Dark ', N'Cacao đắng, Gỗ sồi, Hạt dẻ', 2, 5, 5, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ProductDetails] OFF
GO
INSERT [dbo].[ProductGrindingOptions] ([ProductId], [GrindingOptionId]) VALUES (1, 1)
INSERT [dbo].[ProductGrindingOptions] ([ProductId], [GrindingOptionId]) VALUES (1, 2)
INSERT [dbo].[ProductGrindingOptions] ([ProductId], [GrindingOptionId]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [ImageUrl], [Description], [CategoryId]) VALUES (1, N'REVO Morning', CAST(99000.00 AS Decimal(18, 2)), 106, N'/uploads/products/image1.png', N'Hương vị nhẹ nhàng, tinh tế cho buổi sáng đầy năng lượng', 1)
INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [ImageUrl], [Description], [CategoryId]) VALUES (2, N'REVO Everyday', CAST(139000.00 AS Decimal(18, 2)), 107, N'/uploads/products/image2.png', N'Hương vị cân bằng dịu nhẹ, hậu vị ngọt kéo dài', 2)
INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [ImageUrl], [Description], [CategoryId]) VALUES (3, N'REVO Origin', CAST(149000.00 AS Decimal(18, 2)), 4, N'/uploads/products/image3.png', N'Robusta nguyên bản mạnh mẽ, đậm vị truyền thống', 3)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[RawMaterialLogs] ON 

INSERT [dbo].[RawMaterialLogs] ([Id], [RawMaterialId], [ReceiptId], [Action], [OldQuantity], [NewQuantity], [Reason], [ModifiedBy], [ModifiedDate]) VALUES (1, 1, 1, N'XUAT_RANG_CA_PHE', 75.5, 70.5, N'Xuất kho 5 kg để thực hiện mẻ rang mã BATCH-007', N'4f48b5b9-204e-49d7-8313-2e4a6acce605', CAST(N'2026-05-21T00:20:42.980' AS DateTime))
INSERT [dbo].[RawMaterialLogs] ([Id], [RawMaterialId], [ReceiptId], [Action], [OldQuantity], [NewQuantity], [Reason], [ModifiedBy], [ModifiedDate]) VALUES (2, 4, NULL, N'NHAP_KHO_NGUYEN_LIEU', 0, 100, N'Nhập mới lô hàng 100 kg từ nhà cung cấp: Hợp tác xã Hải Hậu', N'4f48b5b9-204e-49d7-8313-2e4a6acce605', CAST(N'2026-05-21T00:36:53.737' AS DateTime))
SET IDENTITY_INSERT [dbo].[RawMaterialLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[RawMaterials] ON 

INSERT [dbo].[RawMaterials] ([Id], [Name], [Unit], [CategoryId], [CreatedDate]) VALUES (1, N'Hạt Cà phê Arabica Cầu Đất', N'kg', 1, CAST(N'2026-05-20T23:30:29.577' AS DateTime))
INSERT [dbo].[RawMaterials] ([Id], [Name], [Unit], [CategoryId], [CreatedDate]) VALUES (2, N'Hạt Cà phê Robusta Buôn Ma Thuột', N'kg', 3, CAST(N'2026-05-20T23:30:29.577' AS DateTime))
INSERT [dbo].[RawMaterials] ([Id], [Name], [Unit], [CategoryId], [CreatedDate]) VALUES (3, N'Hạt Cà phê Blend Thượng Hạng', N'kg', 2, CAST(N'2026-05-20T23:30:29.577' AS DateTime))
SET IDENTITY_INSERT [dbo].[RawMaterials] OFF
GO
SET IDENTITY_INSERT [dbo].[RoastingBatches] ON 

INSERT [dbo].[RoastingBatches] ([Id], [BatchCode], [ProductId], [RoastLevel], [InputWeight], [Status], [RoastDate], [UserId], [InventoryReceiptId]) VALUES (1, N'BATCH-001', 8, N'Light', 12, N'Đã đóng gói', CAST(N'2026-05-16T15:30:04.963' AS DateTime), N'4f48b5b9-204e-49d7-8313-2e4a6acce605', 1)
INSERT [dbo].[RoastingBatches] ([Id], [BatchCode], [ProductId], [RoastLevel], [InputWeight], [Status], [RoastDate], [UserId], [InventoryReceiptId]) VALUES (2, N'BATCH-002', 4, N'Dark', 3, N'Đã đóng gói', CAST(N'2026-05-16T15:32:21.437' AS DateTime), N'4f48b5b9-204e-49d7-8313-2e4a6acce605', 2)
INSERT [dbo].[RoastingBatches] ([Id], [BatchCode], [ProductId], [RoastLevel], [InputWeight], [Status], [RoastDate], [UserId], [InventoryReceiptId]) VALUES (3, N'BATCH-003', 6, N'Medium', 20, N'Hoàn thành', CAST(N'2026-05-16T15:32:47.310' AS DateTime), N'4f48b5b9-204e-49d7-8313-2e4a6acce605', 3)
SET IDENTITY_INSERT [dbo].[RoastingBatches] OFF
GO
INSERT [dbo].[Users] ([Id], [Name], [UserName], [Password], [Salt], [Contact], [Email], [Phone], [Position], [Image], [IsActive], [UserType], [Created]) VALUES (N'40695048-1f0f-45e1-b622-9433e41f7cd3', N'Lê Thế Bình', N'binh', N'$2a$11$B.DJ1QP103C1n4kyF9XEfOoaXRDBxFQun09pZqM2JSx37GoVtCcOi', N'd5ed1805', N'Số 39 Đống Đa Hà Nội', N'binh@gmail.com', N'0258965324', N'Khách hàng', N'/uploads/profiles/5780e403-545f-45a8-9827-c7f379a457e3.jpg', 1, 0, CAST(N'2026-05-18T09:25:52.2931001' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Name], [UserName], [Password], [Salt], [Contact], [Email], [Phone], [Position], [Image], [IsActive], [UserType], [Created]) VALUES (N'431df51b-82f0-4cae-bc23-0ec213daae39', N'Phạm Tiến Dũng', N'dungpham', N'$2a$11$BNqAAszJaidMat.smEw59usUa9LiLUoWzNOlAvAPqJ3Ok7a.z6GgK', N'd030317b', N'Số 2 Hoàng Nam Hà Nội', N'dungpham@gmail.com', N'0258964456', N'Nhân viên', N'/uploads/profiles/3612b8e4-dd5a-4cca-86c0-d97a17856c11.jpg', 1, 2, CAST(N'2026-05-20T13:32:17.2164897' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Name], [UserName], [Password], [Salt], [Contact], [Email], [Phone], [Position], [Image], [IsActive], [UserType], [Created]) VALUES (N'4f48b5b9-204e-49d7-8313-2e4a6acce605', N'Thái Em', N'em', N'$2a$11$vCL.YY2gBlX5v21w/uFateAvQhnCz10dxxj.pa5eaU9yZPyr9EuXi', N'42f92932', N'Số 2 Ngô Quyền Phú Thọ', N'em@gmail.com', N'0375421905', N'Quản trị viên', N'/uploads/profiles/a26c000c-9226-489d-b88f-edfb8a91817a.jpg', 1, 1, CAST(N'2026-05-14T15:32:47.9272426' AS DateTime2))
GO
/****** Object:  Index [IX_OrderDetails_OrderId]    Script Date: 21/05/2026 8:10:31 SA ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderId] ON [dbo].[OrderDetails]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_ProductId]    Script Date: 21/05/2026 8:10:31 SA ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_ProductId] ON [dbo].[OrderDetails]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 21/05/2026 8:10:31 SA ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_UserName]    Script Date: 21/05/2026 8:10:31 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_UserName] ON [dbo].[Users]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[RawMaterialLogs] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[RawMaterials] ADD  DEFAULT ('kg') FOR [Unit]
GO
ALTER TABLE [dbo].[RawMaterials] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[RoastingBatches] ADD  DEFAULT (getdate()) FOR [RoastDate]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Carts] FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Carts]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_GrindingOptions] FOREIGN KEY([GrindingOptionId])
REFERENCES [dbo].[GrindingOptions] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_GrindingOptions]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Products]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Users]
GO
ALTER TABLE [dbo].[InventoryReceipts]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceipts_RawMaterials] FOREIGN KEY([RawMaterialId])
REFERENCES [dbo].[RawMaterials] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryReceipts] CHECK CONSTRAINT [FK_InventoryReceipts_RawMaterials]
GO
ALTER TABLE [dbo].[InventoryReceipts]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReceipts_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[InventoryReceipts] CHECK CONSTRAINT [FK_InventoryReceipts_Users]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products_ProductId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [FK_ProductDetails_Products]
GO
ALTER TABLE [dbo].[ProductGrindingOptions]  WITH CHECK ADD  CONSTRAINT [FK_ProductGrindingOptions_GrindingOptions] FOREIGN KEY([GrindingOptionId])
REFERENCES [dbo].[GrindingOptions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductGrindingOptions] CHECK CONSTRAINT [FK_ProductGrindingOptions_GrindingOptions]
GO
ALTER TABLE [dbo].[ProductGrindingOptions]  WITH CHECK ADD  CONSTRAINT [FK_ProductGrindingOptions_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductGrindingOptions] CHECK CONSTRAINT [FK_ProductGrindingOptions_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[RawMaterialLogs]  WITH CHECK ADD  CONSTRAINT [FK_RawMaterialLogs_RawMaterials] FOREIGN KEY([RawMaterialId])
REFERENCES [dbo].[RawMaterials] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RawMaterialLogs] CHECK CONSTRAINT [FK_RawMaterialLogs_RawMaterials]
GO
ALTER TABLE [dbo].[RawMaterialLogs]  WITH CHECK ADD  CONSTRAINT [FK_RawMaterialLogs_Receipts] FOREIGN KEY([ReceiptId])
REFERENCES [dbo].[InventoryReceipts] ([Id])
GO
ALTER TABLE [dbo].[RawMaterialLogs] CHECK CONSTRAINT [FK_RawMaterialLogs_Receipts]
GO
ALTER TABLE [dbo].[RawMaterialLogs]  WITH CHECK ADD  CONSTRAINT [FK_RawMaterialLogs_Users] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[RawMaterialLogs] CHECK CONSTRAINT [FK_RawMaterialLogs_Users]
GO
ALTER TABLE [dbo].[RawMaterials]  WITH CHECK ADD  CONSTRAINT [FK_RawMaterials_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RawMaterials] CHECK CONSTRAINT [FK_RawMaterials_Categories]
GO
ALTER TABLE [dbo].[RoastingBatches]  WITH CHECK ADD  CONSTRAINT [FK_RoastingBatches_InventoryReceipts] FOREIGN KEY([InventoryReceiptId])
REFERENCES [dbo].[InventoryReceipts] ([Id])
GO
ALTER TABLE [dbo].[RoastingBatches] CHECK CONSTRAINT [FK_RoastingBatches_InventoryReceipts]
GO
ALTER TABLE [dbo].[RoastingBatches]  WITH CHECK ADD  CONSTRAINT [FK_RoastingBatches_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[RoastingBatches] CHECK CONSTRAINT [FK_RoastingBatches_Products]
GO
ALTER TABLE [dbo].[RoastingBatches]  WITH CHECK ADD  CONSTRAINT [FK_RoastingBatches_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RoastingBatches] CHECK CONSTRAINT [FK_RoastingBatches_Users]
GO
USE [master]
GO
