USE [master]
GO
/****** Object:  Database [Dataset]    Script Date: 15/05/2026 8:54:34 SA ******/
CREATE DATABASE [Dataset]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dataset', FILENAME = N'C:\Du_lieu_CNPM\Dataset.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 40960KB )
 LOG ON 
( NAME = N'Dataset_log', FILENAME = N'C:\Du_lieu_CNPM\Dataset_log.ldf' , SIZE = 4096KB , MAXSIZE = 2048GB , FILEGROWTH = 40960KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dataset].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dataset]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 15/05/2026 8:54:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 15/05/2026 8:54:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CartId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[GrindingOptionId] [int] NULL,
	[FlavorNotes] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 15/05/2026 8:54:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 15/05/2026 8:54:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrindingOptions]    Script Date: 15/05/2026 8:54:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrindingOptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_GrindingOptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 15/05/2026 8:54:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[FlavorNotes] [nvarchar](250) NULL,
	[GrindingOptionId] [int] NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 15/05/2026 8:54:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[ReceiverName] [nvarchar](100) NULL,
	[ReceiverPhone] [nvarchar](20) NULL,
	[ReceiverEmail] [nvarchar](100) NULL,
	[ShippingProvince] [nvarchar](100) NULL,
	[ShippingDistrict] [nvarchar](100) NULL,
	[ShippingWard] [nvarchar](100) NULL,
	[ShippingDetailAddress] [nvarchar](255) NULL,
	[ShippingNote] [nvarchar](255) NULL,
	[PaymentMethod] [nvarchar](255) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 15/05/2026 8:54:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Region] [nvarchar](255) NULL,
	[Process] [nvarchar](255) NULL,
	[Roast] [nvarchar](100) NULL,
	[FlavorNotes] [nvarchar](max) NULL,
	[AcidityLevel] [tinyint] NULL,
	[BitternessLevel] [tinyint] NULL,
	[BodyLevel] [tinyint] NULL,
	[BestTime] [nvarchar](50) NULL,
	[MatchTags] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductGrindingOptions]    Script Date: 15/05/2026 8:54:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductGrindingOptions](
	[ProductId] [int] NOT NULL,
	[GrindingOptionId] [int] NOT NULL,
 CONSTRAINT [PK_ProductGrindingOptions] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[GrindingOptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 15/05/2026 8:54:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15/05/2026 8:54:34 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Salt] [varbinary](max) NOT NULL,
	[Contact] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Position] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UserType] [int] NOT NULL,
	[Created] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([Id], [UserId]) VALUES (1, N'3F2504E0-4F89-11D3-9A0C-0305E82C3302')
INSERT [dbo].[Carts] ([Id], [UserId]) VALUES (2, N'3F2504E0-4F89-11D3-9A0C-0305E82C3301')
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (1, N'Arabica', N'Cà phê có hương thơm thanh nhẹ, vị chua dịu, hậu ngọt')
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (2, N'Blend', N'Sự phối trộn hài hòa giữa Arabica và Robusta')
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (3, N'Robusta', N'Cà phê đậm vị, mạnh mẽ, hàm lượng caffeine cao')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[GrindingOptions] ON 

INSERT [dbo].[GrindingOptions] ([Id], [Name]) VALUES (1, N'Nguyên hạt')
INSERT [dbo].[GrindingOptions] ([Id], [Name]) VALUES (2, N'Pha phin')
INSERT [dbo].[GrindingOptions] ([Id], [Name]) VALUES (3, N'Espresso')
SET IDENTITY_INSERT [dbo].[GrindingOptions] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [FlavorNotes], [GrindingOptionId]) VALUES (1, 1, 1, 2, CAST(99000.00 AS Decimal(18, 2)), N'Socola đen', NULL)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [FlavorNotes], [GrindingOptionId]) VALUES (2, 1, 3, 1, CAST(149000.00 AS Decimal(18, 2)), N'Hạnh nhân rang', NULL)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [FlavorNotes], [GrindingOptionId]) VALUES (3, 2, 2, 2, CAST(139000.00 AS Decimal(18, 2)), N'Socola đen', NULL)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount], [Status], [ReceiverName], [ReceiverPhone], [ReceiverEmail], [ShippingProvince], [ShippingDistrict], [ShippingWard], [ShippingDetailAddress], [ShippingNote], [PaymentMethod]) VALUES (1, N'3F2504E0-4F89-11D3-9A0C-0305E82C3302', CAST(N'2026-05-08T16:53:32.4229665' AS DateTime2), CAST(347000.00 AS Decimal(18, 2)), N'Chờ xử lý', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount], [Status], [ReceiverName], [ReceiverPhone], [ReceiverEmail], [ShippingProvince], [ShippingDistrict], [ShippingWard], [ShippingDetailAddress], [ShippingNote], [PaymentMethod]) VALUES (2, N'3F2504E0-4F89-11D3-9A0C-0305E82C3302', CAST(N'2026-05-08T16:59:45.5370464' AS DateTime2), CAST(427000.00 AS Decimal(18, 2)), N'Chờ xử lý', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount], [Status], [ReceiverName], [ReceiverPhone], [ReceiverEmail], [ShippingProvince], [ShippingDistrict], [ShippingWard], [ShippingDetailAddress], [ShippingNote], [PaymentMethod]) VALUES (3, N'3F2504E0-4F89-11D3-9A0C-0305E82C3302', CAST(N'2026-05-08T17:00:42.9180015' AS DateTime2), CAST(366000.00 AS Decimal(18, 2)), N'Chờ xử lý', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductDetails] ON 

INSERT [dbo].[ProductDetails] ([Id], [ProductId], [Region], [Process], [Roast], [FlavorNotes], [AcidityLevel], [BitternessLevel], [BodyLevel], [BestTime], [MatchTags]) VALUES (1, 1, N'Cầu Đất, Đà Lạt', N'Washed', N'Light Medium', N'Hoa nhài, Cam vàng, Mật ong', 4, 2, 3, N'morning', N'floral,citrus,honey')
INSERT [dbo].[ProductDetails] ([Id], [ProductId], [Region], [Process], [Roast], [FlavorNotes], [AcidityLevel], [BitternessLevel], [BodyLevel], [BestTime], [MatchTags]) VALUES (2, 2, N'Đắk Lắk & Đà Lạt', N'Honey', N'Medium Dark', N'Chocolate, Hạnh nhân, Caramel', 3, 3, 4, N'afternoon', N'chocolate,caramel,nut')
INSERT [dbo].[ProductDetails] ([Id], [ProductId], [Region], [Process], [Roast], [FlavorNotes], [AcidityLevel], [BitternessLevel], [BodyLevel], [BestTime], [MatchTags]) VALUES (3, 3, N'Buôn Ma Thuột', N'Natural', N'Dark Roast', N'Cacao đắng, Gỗ sồi, Hạt dẻ', 2, 5, 5, N'morning,evening', N'bold,cacao,wood')
SET IDENTITY_INSERT [dbo].[ProductDetails] OFF
GO
INSERT [dbo].[ProductGrindingOptions] ([ProductId], [GrindingOptionId]) VALUES (1, 1)
INSERT [dbo].[ProductGrindingOptions] ([ProductId], [GrindingOptionId]) VALUES (1, 2)
INSERT [dbo].[ProductGrindingOptions] ([ProductId], [GrindingOptionId]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [ImageUrl], [Description], [CategoryId]) VALUES (1, N'REVO Morning', CAST(99000.00 AS Decimal(18, 2)), 106, N'/assets/img/section2/image1.png', N'Hương vị nhẹ nhàng, tinh tế cho buổi sáng đầy năng lượng', 1)
INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [ImageUrl], [Description], [CategoryId]) VALUES (2, N'REVO Everyday', CAST(139000.00 AS Decimal(18, 2)), 107, N'/assets/img/section2/image2.png', N'Hương vị cân bằng dịu nhẹ, hậu vị ngọt kéo dài', 2)
INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [ImageUrl], [Description], [CategoryId]) VALUES (3, N'REVO Origin', CAST(149000.00 AS Decimal(18, 2)), 104, N'/assets/img/section2/image3.png', N'Robusta nguyên bản mạnh mẽ, đậm vị truyền thống', 3)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[Users] ([Id], [Name], [UserName], [Password], [Salt], [Contact], [Email], [Phone], [Position], [Image], [IsActive], [UserType], [Created]) VALUES (N'3F2504E0-4F89-11D3-9A0C-0305E82C3301', N'Nguyễn Văn User', N'user01', N'user123', 0x00, N'Đà Lạt', N'user01@gmail.com', N'0911111111', N'User', N'/assets/img/users/user1.png', 1, 0, CAST(N'2026-04-29T21:35:11.4500000' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Name], [UserName], [Password], [Salt], [Contact], [Email], [Phone], [Position], [Image], [IsActive], [UserType], [Created]) VALUES (N'3F2504E0-4F89-11D3-9A0C-0305E82C3302', N'Vũ Nam Khánh', N'user02', N'user123', 0x00, N'Buôn Ma Thuột', N'user02@gmail.com', N'0922222222', N'User', N'/assets/img/users/user2.png', 1, 0, CAST(N'2026-04-29T21:35:11.4500000' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Name], [UserName], [Password], [Salt], [Contact], [Email], [Phone], [Position], [Image], [IsActive], [UserType], [Created]) VALUES (N'E1109672-0043-41E1-BC61-638064F6D799', N'Admin System', N'admin', N'admin123', 0x00, N'Hà Nội', N'admin@basecore.com', N'0988888888', N'Admin', N'/assets/img/users/admin.png', 1, 1, CAST(N'2026-04-29T21:35:11.4500000' AS DateTime2))
GO
/****** Object:  Index [IX_OrderDetails_OrderId]    Script Date: 15/05/2026 8:54:34 SA ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderId] ON [dbo].[OrderDetails]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_ProductId]    Script Date: 15/05/2026 8:54:34 SA ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_ProductId] ON [dbo].[OrderDetails]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 15/05/2026 8:54:34 SA ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_UserName]    Script Date: 15/05/2026 8:54:34 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_UserName] ON [dbo].[Users]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Carts] FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Carts]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_GrindingOptions] FOREIGN KEY([GrindingOptionId])
REFERENCES [dbo].[GrindingOptions] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_GrindingOptions]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Products]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Users]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products_ProductId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[ProductDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductDetails] CHECK CONSTRAINT [FK_ProductDetails_Products]
GO
ALTER TABLE [dbo].[ProductGrindingOptions]  WITH CHECK ADD  CONSTRAINT [FK_ProductGrindingOptions_GrindingOptions] FOREIGN KEY([GrindingOptionId])
REFERENCES [dbo].[GrindingOptions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductGrindingOptions] CHECK CONSTRAINT [FK_ProductGrindingOptions_GrindingOptions]
GO
ALTER TABLE [dbo].[ProductGrindingOptions]  WITH CHECK ADD  CONSTRAINT [FK_ProductGrindingOptions_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductGrindingOptions] CHECK CONSTRAINT [FK_ProductGrindingOptions_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
USE [master]
GO
